@use 'functions' as *;

//Font family
$primary-font: 'Open Sans', sans-serif;

//Color
$white-color: #ffffff;
$dark-gray: #232321;
$blue-color: #4a69e2;
$gray: #e7e7e3;

//Breakpoint
$break-point: (
  'medium': 1150px,
);
