@use 'functions' as *;

//Font family
$primary-font: 'Open Sans', sans-serif;

//Color
$white-color: #ffffff;
$dark-gray: #232321;
$blue-color: #4a69e2;
$gray: #e7e7e3;
$shoes-table: rgba(35, 35, 33, 0.8);
$border-color: rgba(35, 35, 33, 0.2);
$neutral-gray: #36323b;
$border-product: #4a69e2;
$white-gray: #fafafa;
$gray-main: #70706e;
$red-color: #d00000;
//Breakpoint
$break-point: (
  'medium': 1150px,
);
