@use '../abstracts' as *;

.container {
  display: flex;
  justify-content: center;
}

.main {
  max-width: pxToRem(1180);
  overflow-x: auto;
}

.body__footer {
  background-color: $gray;
  padding: 24px 24px;

  @include responsive('small') {
  }
}
