@use '../abstracts/' as *;
.sidebar {
  padding: pxToRem(32) pxToRem(24);

  @media screen and (max-width: 820px) {
    width: pxToRem(100);
  }

  @include responsive('small') {
    padding: 32px 12px;
  }
  &__logo {
    padding: 0 pxToRem(42);
    margin-bottom: pxToRem(48);

    @media screen and (max-width: 654px) {
      img {
        width: pxToRem(100);
      }
    }
  }
  &__menu {
    @include flex(flex, column, center, center);
    gap: 16px;
    margin-bottom: pxToRem(32);
    &--item {
      padding: 8px 16px;
      @include font($primary-font, 14px, 700);
      @include flex(flex, row, center);
      gap: 8px;
      p {
        text-transform: uppercase;
        @media screen and (max-width: 820px) {
          display: none;
        }
      }
      #para {
        color: $white-color;
      }

      @media screen and (max-width: 540px) {
        padding: 8px;
      }
    }
    #item {
      border-radius: 8px;
      background-color: $blue-color;
    }
  }
  &__category {
    @media screen and (max-width: 820px) {
      display: none;
    }
    @include flex(flex, row, center, space-between);
    h2 {
      @include font($primary-font, 20px, 800);
    }
  }
}
